[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JmzTaylor
[access "refs/for/refs/*"]
	read = group user/JmzTaylor
	push = group user/JmzTaylor
	label-Code-Review = -2..+2 group user/JmzTaylor
	label-Verified = -1..+1 group user/JmzTaylor
	rebase = group user/JmzTaylor
	removeReviewer = group user/JmzTaylor
	submit = group user/JmzTaylor
[access "refs/heads/*"]
	read = group user/JmzTaylor
	create = group user/JmzTaylor
	push = +force group user/JmzTaylor
	pushMerge = group user/JmzTaylor
[access "refs/tags/*"]
	push = +force group user/JmzTaylor
	pushTag = group user/JmzTaylor
	pushSignedTag = group user/JmzTaylor
